langchain
langchain-openai
openai
python-dotenv
streamlit
pydantic
pandas
matplotlib
sentence-transformers
google-generativeai
langchain-google-genai
torch
torchvision
scikit-learn
joblib
mlflow
transformers
datasets
accelerate
evaluate